html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(22, 19, 19);
  font-family: "Poppins", sans-serif;
  background-image: url(https://thumbs.dreamstime.com/b/world-color-map-continents-country-name-colorful-s-illustration-40458841.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  min-height: 100vh;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  /* margin: 40px; */
}

#countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 20px;
}

.country-info {
  background-color: rgb(237, 235, 234);
  width: 320px;
  height: 400px;
}

.country-info:hover {
  box-shadow: 0 0 10px 0 rgba(5, 5, 5, 0.5);
  transform: scale(0.98);
  transition: all 0.3s ease-in-out;
}

.country-info img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.country-info h2 {
  text-align: center;
  margin: 20px;
}

.country-info p {
  text-align: center;
  margin: 5px;
}

#search {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

#search input {
  text-align: center;
  width: 300px;
  height: 40px;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 0 10px 0 rgba(16, 15, 15, 0.5)
}

@media screen and (max-width: 768px) {
  #countries {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
  